@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Released Date: @Convert.ToString(string.Format("{0:MMMM dd, yyyy}", Model.ReleasedDate))</li>
    <li>Date Added: @Convert.ToString(string.Format("{0:MMMM dd, yyyy}", Model.DateAdded))</li>
    <li>Number in stock: @Model.NumberInStock</li>

</ul>

