@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <h2>Movies</h2>
</section>
<div>
    @Html.ActionLink("New","New","Movies",null, new { @class = "btn btn-primary pull-right" })
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th> 
        <th>Name</th> 
        <th>Genre</th>
        <th></th>
    </tr>
    </thead> 
    <tbody>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.Id</td>
            <td>@movie.Name</td>
            <td>@movie.Genre.Name</td>
            <td>@Html.ActionLink("View","Edit",new {id = movie.Id},"")</td>
        </tr>
    }
    </tbody>
</table>
